ProyectoP1Web2/Xml/XmlGrupoGimnasio.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!--DTD generated by XMLSpy v2009 (http://www.altova.com)-->
<!ELEMENT nombre (#PCDATA)>
<!ELEMENT idHorario (#PCDATA)>
<!ATTLIST idHorario
	key CDATA #FIXED "Foreign"
>
<!ELEMENT idGimnasio (#PCDATA)>
<!ATTLIST idGimnasio
	key CDATA #FIXED "Primary"
>
<!ELEMENT gruposGimnasio ((grupoGimnasio+))>
<!ELEMENT grupoGimnasio ((idGimnasio, nombre, idHorario))>
