ProyectoP1Web2/Xml/XmlHorarioGimnasio.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSpy v2009 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:simpleType name="ST_idHorario">
		<xs:restriction base="xs:int">
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="nombre">
		<xs:simpleType>
			<xs:restriction base="xs:string">
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="idHorario">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="ST_idHorario">
					<xs:attribute name="key" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="Primary"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="horariosGimnasio">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="horarioGimnasio" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="horarioGimnasio">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="idHorario"/>
				<xs:element ref="nombre"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
