ProyectoP1Web2/Xml/XmlHorariosGimnasio_Horas.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!--DTD generated by XMLSpy v2009 (http://www.altova.com)-->
<!ELEMENT idHorarioGimnasio_Horas (#PCDATA)>
<!ATTLIST idHorarioGimnasio_Horas
	key CDATA #FIXED "Primary"
>
<!ELEMENT idHorario (#PCDATA)>
<!ATTLIST idHorario
	key CDATA #FIXED "Foreign"
>
<!ELEMENT idHora (#PCDATA)>
<!ATTLIST idHora
	key CDATA #FIXED "Foreign"
>
<!ELEMENT horariosGimnasio_Horas ((HorarioGimnasio_Horas+))>
<!ELEMENT dia (#PCDATA)>
<!ELEMENT HorarioGimnasio_Horas ((idHorarioGimnasio_Horas, dia, idHorario, idHora))>
