ProyectoP1Web2/Xml/XmlHorariosGimnasio_Horas.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSpy v2009 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:simpleType name="ST_idHorarioGimnasio_Horas">
		<xs:restriction base="xs:int">
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ST_idHorario">
		<xs:restriction base="xs:int">
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ST_idHora">
		<xs:restriction base="xs:int">
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="idHorarioGimnasio_Horas">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="ST_idHorarioGimnasio_Horas">
					<xs:attribute name="key" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="Primary"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="idHorario">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="ST_idHorario">
					<xs:attribute name="key" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="Foreign"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="idHora">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="ST_idHora">
					<xs:attribute name="key" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="Foreign"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="horariosGimnasio_Horas">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="HorarioGimnasio_Horas" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="dia">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="Domingo"/>
				<xs:enumeration value="Jueves"/>
				<xs:enumeration value="Lunes"/>
				<xs:enumeration value="Martes"/>
				<xs:enumeration value="Miercoles"/>
				<xs:enumeration value="Sabado"/>
				<xs:enumeration value="Viernes"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="HorarioGimnasio_Horas">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="idHorarioGimnasio_Horas"/>
				<xs:element ref="dia"/>
				<xs:element ref="idHorario"/>
				<xs:element ref="idHora"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
